:root {
    --background-color: rgb(250, 250, 250);
    --text-color: black;
    --font-family: 'Hanken Grotesk', serif;
    --box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.21);
    --border: 1px solid black;
    
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);

}

/* NAVBAR */

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: rgba(251, 255, 255, 0.8);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
    border-bottom: 1px solid transparent;
    border-radius: 20px;
    display: flex;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 100px;
    

}

a.home-link{ 
    color: var(--text-color);
}

.nav-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 80px;
    cursor: pointer;
}

.nav-container .nav-menu {
    display: flex;
    text-align: center;
    gap: 20px;
}

.nav-container .nav-menu li a {
    color: var(--text-color);
    font-weight: 700;
    font-size: 18px;
    padding: 3 20px;
    transition: all 0.03s ease-out;
}

.nav-container .nav-menu li a:hover {
    border-bottom: 5px solid;
    border-color: var(--text-color);
    padding: 5px;
}

.nav-toggle {
    
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 15px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: var(--text-color);
    transition: all 0.25s ease-in-out;
}

@media (max-width: 1200px) {
    .nav-container {
        padding: 0 45px;
    } 
}

@media (max-width: 760px) {
    .nav-container .nav-menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 110px 50px;
        background-color: rgba(250, 250, 250, 0.9);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.05);
        position: absolute;
        display: none;
    }

    .nav-container .nav-menu.active{
        display: flex;
    }


    .nav-toggle {
        display: block;
        z-index: 3;
    }

    .nav-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 480px) {
    .nav-container {
        padding: 0 1rem;
    }

    .nav-logo {
        font-size: 1.7rem;
    }

    .nav-container .nav-menu {
        font-size: 55px;
        padding: 100px 15px;
    }
}


/* HERO  */

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero .container {
    height: 100%;
}

.hero .row{
    display: flex;
    flex-direction: row;
    padding: 8%; 
}

.hero .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-img{
    height: 500px;
}

.hero h1{
    font-size: 65px;
    font-weight: 800;
}

.hero h3{
    font-size: 23px;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: 700;
}

.hero p{
    font-size: 21px;
    padding: 20px 0;
}

.hero .cta-btn {
    display: inline-flex;
    gap: 5px;
}

.hero .cta-btn button {
    font-family: 'Hanken Grotesk', serif;
    font-size: 18px;
    padding: 8px;
}

.hero .cta-btn img{
    height: 40px;
    padding: 5px;
    
}


@media (max-width: 1200px) {
    .hero .container {
        max-width: 100%;
        height: 100%; 
        display: flex; 
        align-items: center;
        justify-content: center; 
        padding: inherit; 
    }

    .hero .row {
        padding: 4%;
    }

    .hero .content{
        width: 100%;
    }

    .hero h1 {
        font-size: 49px;
    }

    .hero .img {
        width: 60%;
    }

    .hero .img img{
        height: 400px;
    }
}

@media (max-width: 700px) {
    .hero .container {
        max-width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero .row, h1, span, .hero h3, .img {
        flex-wrap: wrap-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hero p {
        padding: 15px;
        text-align: center;
        line-height: 1.2;
        text-align: justify;
        text-justify: inter-word;
    }

    .hero-img {
        padding-top: 40px;
    }

    .hero .cta-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .hero .cta-btn img{
        height: 70px;
        padding: 10px; 
    }

    .hero .cta-btn button {
        padding: 12px 15px;
    }
    
}




/* ABOUT */
#about {
    height: 100vh;
}

#about .content {
    padding: 110px 100px;
    display: flex;
}

.about-me {
    width: 50%;
    padding: 0 5px;
}

#about h1 {
    font-size: 30px;
    padding: 5px 0;
}

#about p {
    font-size: 21px;
    font-weight: 500;
    line-height: 2;
}

#about .techstack {
    width: 50%;
    padding-top: 50px;
}

#about .text {
    font-size: 21px;
    padding: 0 0 0 50px;
}

#about .icon {
    padding: 20px 50px;
}

#about .icon img{
    height: 50px;
    padding: 0 10px;
    align-items: center;
}

@media (max-width: 1200px) {
    #about .content {
        max-width: 100%;
        height: 100vh;
        display: flex;
        padding: 45px;
    }

    #about .about-me {
        width: 55%
    }

    #about h1 {
        padding-top: 50px;
    }

    #about p {
        line-height: 1.75;
    }

    #about .techstack {
        width: 40%; 
    }

    #about .icon {
        padding: 20px 0 20px 50px;
    }

    #about .icon img{
        height: 50px;
        padding: 0 5px;
    }


}

@media (max-width: 800px) {
    #about {
        max-width: 100%;
        height: 100%;
    }

    #about .content {
        display: flex;
        flex-direction: column;
        
    }

    #about .about-me,
    #about .techstack {
        width: 100%;
    }

    #about .techstack .text {
        padding: 0 8px;
    }



    #about .content p {
        line-height: 1.25;
        font-weight: 400;
        text-align: justify;
        text-justify: inter-word;
    }

    #about .icon {
        padding: 8px;
    }

    #about .icon img{
        height: 40px;
        padding: 0 5px;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 500px) {
    #about .content p {
        line-height: 1.1;
        font-size: 20px;
    }

    #about .content {
        padding: 18px;
    }

    .about-h1 {
        margin-top: 25px;
    }



}





/* PROJECTS */

#projects {
    height: 100vh;
}

#projects .content {
    padding-top: 100px;
}

#projects h1{
    width: auto;
    font-size: 30px;
    padding: 0 100px;
    
    
}

.proj-title {
    width: 175%;
    z-index: 2;
}

.project-type {
    position: relative;
    padding: 0 100px;
}

.project-type li{  
    display: inline-block;
    border: var(--border);
    padding: 3px 15px;
    border-radius: 15px;
    margin: 6px 5px;    
}


.container {
    padding: 100px;
}

.card-wrapper {
    width: 170px 0px;
    margin: 0 60px 20px;
    padding: 20px 40px;
    overflow: hidden;
}

.card-wrapper ul{
    padding-inline-start: 0px;
}


.card-wrapper img{
    width: 100%;
}

.card-list .card-item{
    list-style: none;
}

.card-list .card-item .card-link{
    user-select: none;
    display: block;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    transition: 0.2s ease;
    border: 2px solid transparent;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: var(--text-color);
}

.card-list .card-item .card-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .card-button {
    height: 35px;
    width: auto;
    color: var(--text-color);
    border-radius: 50%;
    transition: 0.4s ease;
    border: 2px solid black;
    background: none;
    cursor: pointer;
}

.card-list .card-link:hover .card-button {
    color: var(--text-color);
    background: var(--text-color);
}

.card-wrapper
.swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    opacity: 0.6;
    background: var(--text-color);
}


.card-wrapper
.swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper 
.swiper-slide-button {
    color: var(--text-color);
    margin-top: -35px;
}


@media (max-width: 1200px) {
    #projects .content h1 {
        padding: 0 45px;
        
    }
}

@media screen and (max-width: 760px) {
    
    
    #projects .content h1 {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    
    .card-wrapper {
        margin: 0 10px 25px;

    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }


}


/* EXPERIENCE */
#experiences {
    height: 100vh;
}

#experiences h1 {
    padding: 110px 100px 0 100px;
    font-size: 30px;

}

.widget{
    padding-left: 100px;
    width: 90%;
    max-width: 600%;
    padding: 20px;
    margin: 40px auto;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: var(--box-shadow);


}

.tabs{
    position: relative;
    --active: 0;
    --tab-count: 2;
    display: flex;
    height: 50px;
    border-block-end: 1px solid gainsboro;
    isolation: isolate;
}

.tabs input {
    display: none;
}

.tabs label {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.tabs input:checked + label {
    color: var(--text-color);
}

.tabs::after {
    pointer-events: none;
    position: absolute;
    content: "";
    inset: 0 0 -1px;
    z-index: -1;
    width: calc((100% / var(--tab-count)) - 2.1px);
    border-radius: 10px 10px 0 0;
    border: var(--border);
    border-block-end: none;
    translate: calc(var(--active) * 100%);
    transition: translate 0.5s ease-in-out;
}

.tabs:has(:checked:nth-of-type(1)){
    --active:0;
}

.tabs:has(:checked:nth-of-type(2)){
    --active:1;
}

.tab-content {
    padding: 10px;
}

.tab-content-1 {
    line-height: 2;
}

.tab-content-1 h3 {
    font-size: 20px;
}

.tab-content-1 h4, li {
    font-size: 18px;
}

[class^="tab-content-"] {
    display: none;
}

.widget:has(:checked:nth-of-type(1)) .tab-content-1,
.widget:has(:checked:nth-of-type(2)) .tab-content-2 {
    display: block;
}

.cert-tile{
    text-align: center;
    display:inline-block;
}

.cert-item {
    display: inline-block;
    margin: 8px;
    height: 150px;
    width: 350px;
    color: var(--text-color);;
}

.cert-item p {
    color: var(--text-color);
    font-weight: 500;
}
.cert-image{
    height: 120px;
}

.cert-image img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    
    
}


@media screen and (max-width: 900px) {
    #experiences h1 {
        padding: 100px 0 0 45px;
    }

    #experiences .widget {
        padding: 10px;
    }

    #experiences .cert-tile {
        border: 1px solid;
    }

    #experiences .cert-image {
        height: 100px;
    }

    #experiences .cert-item {
        margin: 5px;
        padding: 5px;
        width: 200px;
    }

    #experiences .cert-item p {
        display: none;
    }


}

@media screen and (max-width: 760px) {
    #experiences h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px 0 0 0;
    }

    #experiences .tab-content-1 {
        line-height: 1.3;
    }

    #experiences .cert-image {
        height: 100px;
    }


}

@media screen and (max-width: 540px) {
    #experiences .cert-item {
        margin: 0;
        width: 50%;
        align-items: center;
        justify-content: center;

    }

    #experiences .cert-tile {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 2px;
    }


    #experiences .cert-item {
        height: 120px;
    }

    #experiences .cert-image {
        height: 80px;
    }

    #experiences .tabs label {
        font-size: 14px;
    }

}


/* CONTACT */
#contact {
    width: 100%;
    height: 100vh;
    padding: 100px;
}

#contact h1 {
    font-size: 30px;
}

#contact .contact-box {
    width: 85%;
    max-width: 600%;
    padding: 20px;
    margin: 40px auto;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: var(--box-shadow);

}

#contact .contact-box h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

#contact .contact-box p {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#contact .input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}


#contact input {
    padding: 20px;
}

#contact .input-grp input,
#contact .input-grp textarea {
    width: 100%;
    border: 2px solid;
    border-radius: 10px;

}

#contact .input-grp input {
    height: 40px;
    margin: 10px 0;
}

#contact .input-grp::placeholder {
    font-family: initial;
}

#contact .message-grp {
    resize: none;
}

#contact form input, textarea{
    font-family: var(--font-family);
    font-size: 15px;
    background-color: rgb(224, 242, 248);
}

#contact form textarea {
    height: 200px;
    padding: 15px;
    resize: none;
    margin-top: 10px;
}

#contact .submit-btn {
    margin-top: 20px;
}

#contact .submit-btn input {
    width: 200px;
    padding: 10px;
    border: 2px solid;
    border-radius: 8px;   
}

#contact .submit-btn input:hover {
    background-color: var(--text-color);
    color: rgb(224,242,248);
    border-color: rgb(224,242,248);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    #contact{
        padding: 45px;
    }

    #contact h1 {
        padding-top: 45px;
    }
    #contact .contact-box {
        width: 90%;
        margin: 10px auto;
    }
    
}

@media screen and (max-width: 760px) {
    #contact h1{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #contact .contact-box {
        padding: 10px;
        width: 100%;
    }

    #contact .input-box {
        padding: 10px;
    }
   
}

/* FOOTER */

footer {
    border-top: var(--border);
}

footer h4 {
    font-size: 17px;
}

.footer-content {
    padding: 10px 45px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer .copyright {
    width: 30%;
}

footer .socials {
    width: 40%;
}

footer .rights {
    width: 30%;
}

footer .socials img {
    height: 50px;
    padding: 10px;
}

